.center {
    margin: 0px auto;
    position: relative;
    width: 700px;
    height: 250px;
}

#playground {
  width: 700px;
  height: 250px;
  background: #000;
  /*margin-top : 300px;
  margin-left: 40%;*/
}

#welcomeScreen {
  width: 700px;
  height: 250px;
  position: absolute;
  z-index: 100;

  color: white;
  cursor: pointer;
  text-align: center;

}

#centering {
  position: absolute;
  top: 120px;
  width: 700px;
  color: #fff;
}

#startbutton {
  top: 175px;
  text-align: center;
  margin: 200px;
}

body {
    background: url('../img/space.jpg') repeat;
    background-size: 125%;
    top: 0;
    z-index: -1;
}

video {
    display : none;
}
