#playground {
    width: 700px;
    height: 250px;
    background: #000;
}

#welcomeScreen {
    width: 700px;
    height: 250px;
    position: absolute;
    z-index: 100;

    color: white;
    cursor: pointer;
    text-align: center;

}

#loadingBar {
    position: relative;
    left: 100px;
    height: 15px;
    width: 0px;
    background: pink;
}

#startbutton {
    top: 175px;
    text-align: center;
    margin: 200px;
}
